.container {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;

    font-family: Arial, sans-serif;
    font-size: 10vh;
}
.result {
    grid-column: 1 / 5;
    grid-row: 1 / 1;
    background-color: rgb(48, 48, 48);
    color: white;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}
.square {
    border: 1px solid rgb(48, 48, 48);
    color: white;
    background-color: black;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.1s linear;
}
.square:hover {
    background-color: rgb(48, 48, 48);
}
.square p {
    font-size: 5vh;
    user-select: none;
}