{% extends 'layout.html' %}
{% block body %}

<link href="https://fonts.googleapis.com/css?family=Varela|Open+Sans" rel="stylesheet">

<h1>Welcome to the homepage for math-solver</h1>

<body>
	<p>Still a work in progress</p>

	<h2>Collecting ideas form:</h2>
	<p>Should save to a database on your local machine.</p>
	<p>Should upload all data to github when push. Not guaranteed.</p>
	<p>*denotes required</p>
	<br>
	<form method="POST" action="/">
	    <p>*Your idea for the math-solver:</p>
	    <input type="text" name="idea" />    
	    <br/>
	    <br/>
	    <input type="submit" value="Submit">
	</form>
	<h2>Available solvers</h2>
	<a href="{{ url_for('matrice') }}">Matrix</a>
	<a href="{{ url_for('midpoint') }}">Midpoint</a>
    <a href="{{ url_for('pythagorean') }}">Hypotenuse</a>
	<h2>List of ideas:</h2>

	{% for idea in ideas %}
	<ul>
	    <li>{{ idea }}</li>
	</ul>
</body>
{% endfor %}
{% endblock %}